/*assignment view*/
.ui-dialog .ui-widget-content {
    background: #000;
	color: white !important;
}
.ui-widget-content, .ui-widget-content {
    color: #FFF;
}

.os-rec-head, .assignmentreports_core .panel.assignment .name_bar{
    background: black;
    border: #4D4D4D;
}

/* dialog bar */
.ui-dialog .ui-dialog-titlebar, .ui-search-holder-title{
	background: #323232;
	color: white;
}
/* close and maximise buttons */
.ui-dialog .ui-dialog-titlebar-close span {
	background-image: url(https://raw.githubusercontent.com/AdamClarke0/files/master/close.png);
	background-position: 0px 0px;
	width: 16px;
	height: 18px;
}
.ui-dialog .ui-maximiser span {
	background-image: url(https://raw.githubusercontent.com/AdamClarke0/files/master/maximise.png);
	background-position: 0px 0px;
	width: 16px;
	height: 18px;
	background-repeat: no-repeat;
	padding: 6px;
}

/* wall chat */
.wall_widget, .wall_widget div, .wall_widget p {
    background: black !important;
    color: white !important;
}

/* content backgrounds and colour changes */
.sites_site > .sites-site-content > .theme-container > div > div > div, .sites_site > .sites-site-content > div > div > div > .ui-theme-blueangle-cont, .sites-site-content > .theme-container > div > div > div > div > .ui-theme-nightingalefour-midpad, .cont, .ui-theme-judd2 div.cont, .ui-theme-technologytheme-container .ui-theme-technologytheme-cont, .ui-theme-technologytheme-container .ui-theme-technologytheme-containertop, .assignmentreports_core .content .panes .panel, .ui-theme-science-container .ui-theme-science-cont, .second-nav-bg, .ui-theme-classic-ribbon-wrap, .ui-theme-classic-ribbon-head h1, .ui-theme-classic-ribbon-head p, ul.frogui_components_verticalmenu a > p, .ui-theme-quick-assign-container {
    background: black;
    color: white !important;
}

/* square link buttons */
div.row-fluid .link-widget {
    color: white;
    background: #323232;
    border-color: #4D4D4D;
}

div.row-fluid .link-widget .os-ellipsis{
    color:white;
}

/* make timeline bg transparent */
.ui-theme-timeline-cont, .frogui_modules_timeline, .widget_timeline {
    background: transparent !important;
}

/*bg and text colour for timeline items*/
.frogui_modules_timeline .spine-container .events-container .timeline-item .timeline-post {
    color: #FFFFFF;
    background: #000;
}

.frogui_modules_timeline .spine-container .events-container .timeline-item .timeline-post .timeline-comments .timeline-comments-header {
    background: #333;
}

/* likes this text on timeline
.frogui_modules_timeline .spine-container .events-container .timeline-item .timeline-post .timeline-comments .timeline-comments-header .overview {
    color: inherit;
	
}*/

/* site holder in frogdrive */

.ui-site-holder {
    color: white;
    background: #323232;
    border-color: #4D4D4D;
}

.ui-site-holder .ui-search-holder-title {
    background: 707070;
}


/* show loaded message */
.msg_loaded {
	display: block !important;
}

.ui-theme-quick-assign-wrap {
    box-shadow: 0px 0px 85px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 85px 2px rgba(0,0,0,0.3);
}
